// variables parametro de pantalla para responsive

// sass/abstracts/_variables.scss

// tamaños de pantalla llamar con .abstracts
$bp-phone: 375px;
$bp-tablet: 768px;
$bp-tablet-horizontal: 992px;
$bp-desktop: 1200px;
$bp-desktop-xl: 1400px;

//colors  llamar con abstracts.$
$pink: #D5966C;
$black: #151515;
$gray: #444444;
$white: #FFFFFF;

//gradientes llamar siempre en background


